.tw-staggered-entrance {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tw-staggered-entrance__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
